appdirs==1.4.2
click==6.7
decorator==4.0.11
Flask==0.12
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
infinity==1.4
intervals==0.8.0
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
pyparsing==2.1.10
six==1.10.0
SQLAlchemy==1.1.6
SQLAlchemy-Utils==0.32.12
validators==0.11.2
Werkzeug==0.11.15
WTForms==2.1
WTForms-Alchemy==0.16.2
WTForms-Components==0.10.3
