{% extends "layout.html" %}
{% from "_formhelpers.html" import delete_link %}

{% set page_title = "Subscription lists" %}
{% block page_header %}
    {{ super() }}
    <a href="{{ url_for('sublists.new') }}" class="btn btn-primary pull-right">Create new subscription list</a>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        {% if not sublists %}
            <p class="bg bg-info text-center">
                No subscriptions list found. <a href="{{ url_for('sublists.new') }}">Create new.</a>
            </p>
        {% else %}
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-striped table-indexed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th style="width: 150px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for sublist in sublists %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ sublist.name }}</td>
                            <td>
                                <span><a href="">Edit</a></span>
                                <span>|</span>
                                <span>{{ delete_link('', sublist.id) }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}