h1 {
   font-size: 30px;
}

header.page-header {
    border: 0;
    margin: 0 0 20px 0;
    padding: 0 15px;
}

    header.page-header h1 {
        display: inline-block;
    }

    header.page-header a.btn.pull-right {
        margin-top: 20px;
    }

table.table.table-indexed tr th:first-child,
table.table.table-indexed tr td:first-child {
    text-align: center;
    width: 70px;
}

p.bg {
    padding: 15px;
}