{% extends "layout.html" %}
{% block page_title %}Classes{% endblock %}
{% block body %}

<div class="row">
    <div class="col-lg-12">
        {% if not klasses %}
            <p class="bg bg-info text-center">
                No classes defined. <a href="{{ url_for('classes.new') }}">Add new.</a>
            </p>
        {% else %}
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-striped table-indexed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Class name</th>
                            <th style="width: 150px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for klass in klasses %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ klass.name }}</td>
                            <td>
                                <span><a href="{{ url_for('classes.edit', class_id=klass.id) }}">Edit</a></span>
                                <span>|</span>
                                <span><a href="{{ url_for('classes.delete', class_id=klass.id) }}">Remove</a></span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}