{% extends "layout.html" %}
{% block page_title %}Classes{% endblock %}
{% block body %}

<div class="row">
    <div class="col-lg-6">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Class name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for klass in klasses %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ klass.name }}</td>
                        <td>
                            <span><a href="{{ url_for('classes.edit', class_id=klass.id) }}">Edit</a></span>
                            <span>|</span>
                            <span><a href="{{ url_for('classes.delete', class_id=klass.id) }}">Remove</a></span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}